/* General styles */
body {
  background-color: #dbe2ec;
}

.container {
  position: relative;
  width: 400px;
  height: 665px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 10px;
  font-family: 'Zilla Slab', serif;
  background-color: #f8f9fa;
  box-shadow: 0 0 3em 0.1em rgba(0,0,0,0.1);
}




/* Header */
header {
  padding: 3em;
  padding-top: 20em;
  color: white;
  font-family: 'Hind', Arial, sans-serif;
  background-image: url('https://remotetipsdotcom.files.wordpress.com/2016/03/8181857525_cd02bd0cbf_b.jpg');
  background-position: 25% 0%;
  background-repeat: no-repeat;
}

header .author {
  text-transform: uppercase;
  font-size: 1.5em;
}

header h1 {
  text-transform: uppercase;
  font-size: 4em;
  line-height: 1.3;
}

header .topic {
  display: block;
  width: 5em;
  height: 2em;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: black;
  border-radius: 0.1em;
}




/*  Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 400px;
  box-sizing: border-box;
  padding: 1.2em 2.3em;
  background-color: #fff;
  font-family: 'Hind', Arial, sans-serif;
  font-size: 1.5em;
}

footer a {
  display: block;
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  float: left;
}

footer .footer-slider {
  display: block;
  float: left;
  padding-left: 6em;
}

footer .footer-slider ul { /* Slider dots */
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

footer .footer-slider li {
  position: relative;
  display: block;
  float: left;
  margin: 0 5px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}

footer .footer-slider li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bfc1c3;
  border-radius: 50%;
  text-indent: -999em;
  outline: none;
}

footer .footer-slider li.current a {
  background-color: #2c3137;
}

footer .footer-comments {
  display: inline-block;
  float: right;
  width: 16px;
  height: 16px;
  background-image: url('http://www.iconninja.com/files/885/922/369/bubble-comment-text-chatterbox-chat-message-icon.svg');
  background-size: 16px 16px;
  text-indent: -999em;
  margin-top: 4px;
}

footer::after { /* clearfix */
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}




/* Main content */
main {
  padding: 0 1.77em 1.77em 1.77em;
  font-size: 1.9em;
  line-height: 1.6;
  color: #626a73;
}

main p {
  margin: 0;
  padding-top: 1.77em;
}

main p:first-child::first-letter {
  color: #2c3137;
  font-size: 5.4em;
  float: left;
  line-height: 0.8;
  padding-right: 0.1em
}



/* Comments */
.comments {
  padding: 3em;
  position: relative;
}

.comments h2 {
  font-family: 'Hind', Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.comments .close-button {
  display: inline-block;
  position: absolute;
  top: 2.1em;
  right: 2em;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
}

.comments .close-button::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0.15em;
  height: 1.3em;
  border-radius: 1em;
  background-color: #2c3137;
  transform: rotateZ(45deg);
}

.comments .close-button::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0.15em;
  height: 1.3em;
  border-radius: 1em;
  background-color: #2c3137;
  transform: rotateZ(-45deg);
}

.comment {
  font-size: 1.5em;
  padding-left: 5em;
  position: relative;
  margin-bottom: 1.4em;
}

.comment h3 {
  display: inline-block;
  margin-bottom: 0.7em;
}

.comment h3 a {
  color: #2c3137;
  text-decoration: none;
}

.comment h3 a:hover {
  text-decoration: underline;
}

.comment time {
  color: #abacae;
  padding-left: 0.7em;
}
.comment time::before {
  content: "•";
  margin-right: 0.7em;
}

.comment .userpic {
  display: inline-block;
  position: absolute;
  top: 1.4em;
  left: 0;
  height: 3.6em;
  width: 3.6em;
  border-radius: 50%;
}

.comment p {
  margin-top: 0;
  line-height: 1.5;
  color: #626a73;
}
